@import shared.SharedConstants
@import shared.StrUtils
@(pageType: String, customData: String, pageTitle: String = "")(implicit environment: play.api.Environment)
<!DOCTYPE html>
<html>
    <head>
        <title>@pageTitle</title>
        <link rel="stylesheet" type="text/css" href="@controllers.routes.HomeController.css().url">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.min.css")"></link>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("lib/font-awesome/css/font-awesome.min.css")"></link>
        <script>
            function extractFileFromEvent(event) {
                // use event.originalEvent.clipboard for newer chrome versions
                var items = (event.clipboardData  || event.originalEvent.clipboardData).items;
                console.log(JSON.stringify(items)); // will give you the mime types
                // find pasted image among pasted items
                var blob = null;
                for (var i = 0; i < items.length; i++) {
                    if (items[i].type.indexOf("image") === 0) {
                        blob = items[i].getAsFile();
                    }
                }
                return blob;
            }
        </script>
    </head>
    <body>
        <div id="@SharedConstants.PAGE_TYPE_DIV_ID" hidden>@pageType</div>
        <div id="@SharedConstants.CUSTOM_DATA_DIV_ID" hidden><![CDATA[@StrUtils.toBytesStr(customData)]]></div>
        <div id="@SharedConstants.UNIV_PAGE_CONTENT_DIV_ID"></div>
        <script src="@utils.ServerUtils.bundleUrl("client")"></script>
    </body>
</html>